name: Build ZMK firmware

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      include: |
        - board: nice_nano_v2
          shield: corne_left
        - board: nice_nano_v2
          shield: corne_right
